.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #0056b3;
}

/* Specific button styles */
.card .view__details__btn {
  background-color: #28a745;
}

.card .view__details__btn:hover {
  background-color: #218838;
}

.card .check__now__btn {
  background-color: #ffc107;
}

.card .check__now__btn:hover {
  background-color: #e0a800;
}

.card .view__records__btn {
  background-color: #17a2b8;
}

.card .view__records__btn:hover {
  background-color: #117a8b;
}

.card .view__lab__results__btn {
  background-color: #007bff;
}

.card .view__lab__results__btn:hover {
  background-color: #0056b3;
}

.card .date {
  font-size: 14px;
  color: #888;
  margin-left: 12px;
}
/* Specific Delete Button Style */
.card .delete__btn {
  background-color: #dc3545; /* Red color for delete action */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card .delete__btn:hover {
  background-color: #c82333; /* Darker red for hover effect */
}

