.login {
  background-image: url('../../../assets/images/login-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login__container {
  background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 30px;
}

.login__container h1 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #004d4d; /* Subtle medical-themed color */
  font-family: 'Arial', sans-serif;
}

.login__box h2 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #006666;
}

input {
  width: 100%; /* Adjust width */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button.login__btn {
  background-color: #0077b6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

button.login__btn:hover {
  background-color: #005f87;
}

.extras {
  margin-top: 15px;
  font-size: 16px;
}

.extras a {
  color: #0077b6;
  text-decoration: none;
}

.extras a:hover {
  text-decoration: underline;
}
