header {
    background-color: #2873dc;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    height: 70px;
}
.logo {
    width: 150px;
    height: auto;
}
.header__container h1 {
    margin-left: -300px;
    font-size: 1.5rem;
}
.navbar {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #ffa500;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.login__button {
    background-color: #fff;
    color: #000;
    padding: 0.3rem 0.8rem; 
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s;
    transform: scale(1);
    margin-right: 8px;
}
.login__button:hover {
    background-color: #ffa500;
    color: #fff;
    border: 2px solid #fff;
    position: relative;
    transition: color 0.3s ease;
    transform: scale(1.1);
}
.user__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user__action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
.profile__placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
    .header__container {
        text-align: center;
    }
    .header__container h1{
        margin-left: 24px;
    }
    .navbar li {
        display: none;
    }
}