/* General Header Styles */
header {
    background-color: #2873dc;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

/* Header Container */
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    height: 70px;
    padding: 0 16px;
    box-sizing: border-box;
}

/* Logo Styles */
.logo {
    width: 120px;
    height: auto;
}

.header__container h1 {
    font-size: 1.2rem;
    margin-left: 8px;
    flex-grow: 1;
    text-align: left;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.navbar li {
    display: inline;
}
.navbar ul li a {
    font-size: 18px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #ffa500;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Login Button */
.login__button {
    background-color: #fff;
    color: #000;
    padding: 0.3rem 0.8rem;
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s;
    transform: scale(1);
    margin-right: 8px;
}

.login__button:hover {
    background-color: #ffa500;
    color: #fff;
    border: 2px solid #fff;
    transition: color 0.3s ease;
    transform: scale(1.1);
}

/* User Info */
.userInfo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.userInfo span {
    font-size: 1rem;
    font-weight: 600;
}

/* Logout Button */
.logoutButton {
    background-color: #fff;
    color: #000;
    padding: 0.3rem 0.8rem;
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.logoutButton:hover {
    background-color: #ff1e00;
    color: #fff;
    border: 2px solid #fff;
    transition: color 0.3s ease;
}
/* Mobile responsiveness */
@media (max-width: 768px) {
    .header__container {
        text-align: center;
    }
    
    .header__container h1 {
        margin-left: 24px;
    }

    .navbar li {
        display: none;
    }

    .user__action {
        display: block;
        justify-content: center;
    }
    .userInfo {
        flex-direction: column;
        gap: 8px;
    }
}

