.forgot {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; 
}

.forgot__password__container {
  background-color: #ffffff;
  padding: 30px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
}

.heading {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.description {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 20px;
}

.form__group {
  width: 100%;
  margin-bottom: 15px;
}

.label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 8px;
  text-align: left;
}

.email__input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.email__input:focus {
  border-color: #007bff; /* Focus color */
}

.submit__btn {
  display: inline-block;
  width: 100%;
  background-color: #007bff;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 16px;
}

.submit__btn:hover {
  background-color: #0056b3; /* Darker blue */
  transform: translateY(-2px); /* Slight lift effect */
}

.message {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #28a745; /* Success color */
  text-align: center;
}
